SWN/SWN/Service References/SWNServiceReference/SwnService54.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SWNAdmin.Utility" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/SWNAdmin.Utility"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element minOccurs="0" name="Advantages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Appearance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasicLift" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BasicMove" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BasicSpeed" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Dexterity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FatiguePoints" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Health" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="HitPoints" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Intelligence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParryValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Perception" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalTechnologyLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointTotal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SizeModifier" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Strenght" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnspendPoints" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="WillPower" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
  <xs:complexType name="ArrayOfAdvantages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Advantages" nillable="true" type="tns:Advantages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvantages" nillable="true" type="tns:ArrayOfAdvantages" />
  <xs:complexType name="Advantages">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Limitation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointCost" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequirementSet" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="hasLevels" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCreationLocked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="isExotic" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isMental" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isMundane" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPhysical" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSocial" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSuperNatural" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Advantages" nillable="true" type="tns:Advantages" />
  <xs:complexType name="ArrayOfDisadvantages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Disadvantages" nillable="true" type="tns:Disadvantages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisadvantages" nillable="true" type="tns:ArrayOfDisadvantages" />
  <xs:complexType name="Disadvantages">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointCost" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Disadvantages" nillable="true" type="tns:Disadvantages" />
  <xs:complexType name="ArrayOfRequirements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Requirements" nillable="true" type="tns:Requirements" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequirements" nillable="true" type="tns:ArrayOfRequirements" />
  <xs:complexType name="Requirements">
    <xs:sequence>
      <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SourceItemID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetRequirementID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TargetType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Requirements" nillable="true" type="tns:Requirements" />
  <xs:complexType name="ArrayOfSkills">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skills" nillable="true" type="tns:Skills" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkills" nillable="true" type="tns:ArrayOfSkills" />
  <xs:complexType name="Skills">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControllingAttribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Defaults" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DifficultyLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Modifiers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prerequisites" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequirementSet" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillSpecialization" nillable="true" type="tns:ArrayOfSkillSpecialization" />
      <xs:element minOccurs="0" name="isEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="points" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="specialization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tech_level" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skills" nillable="true" type="tns:Skills" />
  <xs:complexType name="ArrayOfSkillSpecialization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillSpecialization" nillable="true"
                  type="tns:SkillSpecialization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillSpecialization" nillable="true" type="tns:ArrayOfSkillSpecialization" />
  <xs:complexType name="SkillSpecialization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Default" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsOptional" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modifiers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prerequisites" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequirementSet" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SkillId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Skills" nillable="true" type="tns:Skills" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillSpecialization" nillable="true" type="tns:SkillSpecialization" />
  <xs:complexType name="ArrayOfCharacter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Character" nillable="true" type="tns:Character" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacter" nillable="true" type="tns:ArrayOfCharacter" />
  <xs:complexType name="StarSystems">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Stars" nillable="true" type="tns:ArrayOfStars" />
      <xs:element minOccurs="0" name="habitableZones" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="maxMass" type="xs:double" />
      <xs:element minOccurs="0" name="numDwarfPlanets" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="star2index" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="star3index" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="subCompanionStar2index" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="subCompanionStar3index" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sysAge" type="xs:double" />
      <xs:element minOccurs="0" name="sysName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sysStars" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StarSystems" nillable="true" type="tns:StarSystems" />
  <xs:complexType name="ArrayOfStars">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stars" nillable="true" type="tns:Stars" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStars" nillable="true" type="tns:ArrayOfStars" />
  <xs:complexType name="Stars">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrbitalDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Planets" nillable="true" type="tns:ArrayOfPlanets" />
      <xs:element minOccurs="0" name="StarOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StarString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StarSystems" nillable="true" type="tns:StarSystems" />
      <xs:element minOccurs="0" name="StellarEvolutionStage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemID" type="xs:int" />
      <xs:element minOccurs="0" name="currLumin" type="xs:double" />
      <xs:element minOccurs="0" name="distFromPrimary" type="xs:double" />
      <xs:element minOccurs="0" name="effTemp" type="xs:double" />
      <xs:element minOccurs="0" name="gasGiantFlag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="initLumin" type="xs:double" />
      <xs:element minOccurs="0" name="initMass" type="xs:double" />
      <xs:element minOccurs="0" name="isFlareStar" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orbitalEccent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalSep" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="radius" type="xs:double" />
      <xs:element minOccurs="0" name="selfID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="specType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="starAge" type="xs:double" />
      <xs:element minOccurs="0" name="starColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sysPlanets" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stars" nillable="true" type="tns:Stars" />
  <xs:complexType name="ArrayOfPlanets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Planets" nillable="true" type="tns:Planets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanets" nillable="true" type="tns:ArrayOfPlanets" />
  <xs:complexType name="Planets">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InnerMoonlets1" nillable="true" type="tns:ArrayOfInnerMoonlets" />
      <xs:element minOccurs="0" name="MajorMoons1" nillable="true" type="tns:ArrayOfMajorMoons" />
      <xs:element minOccurs="0" name="OuterMoonlets1" nillable="true" type="tns:ArrayOfOuterMoonlets" />
      <xs:element minOccurs="0" name="RVM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SatelliteSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SatelliteType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StarID" type="xs:int" />
      <xs:element minOccurs="0" name="Stars" nillable="true" type="tns:Stars" />
      <xs:element minOccurs="0" name="atmCate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="atmMass" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="atmPres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="atmnote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="axialTilt" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="baseType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="blackbodyTemp" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="dayFaceMod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="density" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="diameter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="gravity" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="hydCoverage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="innerMoonlets" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isResonant" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTideLocked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="majorMoons" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mass" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="masterOrderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="moonRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nightFaceMod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="orbitalCycle" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalEccent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="outerMoonlets" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentDiam" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planetString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="retrogradeMotion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="rotationalPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="sattype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="selfID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="siderealPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="surfaceTemp" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="tecActivity" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="tideForce" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="tideTotal" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="volActivity" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Planets" nillable="true" type="tns:Planets" />
  <xs:complexType name="ArrayOfInnerMoonlets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InnerMoonlets" nillable="true" type="tns:InnerMoonlets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInnerMoonlets" nillable="true" type="tns:ArrayOfInnerMoonlets" />
  <xs:complexType name="InnerMoonlets">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Planets" nillable="true" type="tns:Planets" />
      <xs:element minOccurs="0" name="blackbodyTemp" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="innerMoonString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orbitalEccent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="parentDBID" type="xs:int" />
      <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planetRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="selfID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InnerMoonlets" nillable="true" type="tns:InnerMoonlets" />
  <xs:complexType name="ArrayOfMajorMoons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MajorMoons" nillable="true" type="tns:MajorMoons" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMajorMoons" nillable="true" type="tns:ArrayOfMajorMoons" />
  <xs:complexType name="MajorMoons">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MajorMoonString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentDBID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Planets" nillable="true" type="tns:Planets" />
      <xs:element minOccurs="0" name="RVM" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SatelliteSize" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SatelliteType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="atmCate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="atmMass" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="axialTilt" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="baseType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="blackbodyTemp" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="dayFaceMod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="density" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="descListing" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="diameter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="gravity" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="hydCoverage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="innerMoonlets" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isResonant" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTideLocked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="majorMoons1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mass" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="masterOrderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="moonRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nightFaceMod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalCycle" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalEccent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="outerMoonlets" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentDiam" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="retrogradeMotion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="rotationalPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="selfID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="siderealPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="surfaceTemp" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="tecActivity" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="tideForce" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tideTotal" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="volActivity" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MajorMoons" nillable="true" type="tns:MajorMoons" />
  <xs:complexType name="ArrayOfOuterMoonlets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OuterMoonlets" nillable="true" type="tns:OuterMoonlets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOuterMoonlets" nillable="true" type="tns:ArrayOfOuterMoonlets" />
  <xs:complexType name="OuterMoonlets">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ParentDBID" type="xs:int" />
      <xs:element minOccurs="0" name="Planets" nillable="true" type="tns:Planets" />
      <xs:element minOccurs="0" name="blackbodyTemp" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orbitalEccent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalPeriod" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="orbitalRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="outerMoonString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planetRadius" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="selfID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OuterMoonlets" nillable="true" type="tns:OuterMoonlets" />
</xs:schema>